<section class='products'>
  <div class='products__header'>
    <span class='products__icon'> {{ index.catalog.icon }}</span>
    <h2 class='products__title'>{{ index.catalog.title }}</h2>
  </div>

  <div class='products__controls'>
    {% for control in index.catalog.controls %}
      {% if control.type == 'link' %}
        <a href='{{ control.href }}' class='button button--{{ control.style }}'> {{ control.label }}</a>

      {% else %}
        <button class='button button--{{ control.style }}'>
          {{ control.label }}
        </button>
      {% endif %}
    {% endfor %}
  </div>

  {% for product in products %}
    <article class='product'>
      <a href='#' class='product__inner'>
        <img src='{{ product.image }}' alt='{{ product.title }}' class='product__image'>

        <p class='product__price'>{{ product.price }}</p>

        {% if product.label is defined %}
          <p class='label {{ product.label.class }}'>{{ product.label.text }}</p>
        {% endif %}
        <h3 class='product__subtitle'>{{ product.title }}</h3>
      </a>
    </article>
  {% endfor %}
</section>
