<section class='about'>
  <h2 class='about__title about__title--md'>{{ about.title }}</h2>
  <p class='about__intro'>
    {{ about.intro }}
  </p>
  <ul class='about__list'>
    {% for feature in about.features %}
      <li class='feature'>
        <h3 class='feature__title'>{{ feature.title }}</h3>
        <span class='feature__number'>{{ feature.number }}</span>
        <p class='feature__text'>
          {{ feature.text }}
        </p>
      </li>
    {% endfor %}
  </ul>

  <a href='{{ about.button.href }}' class='{{ about.button.class }}'>
    {{ about.button.text }}
  </a>
</section>
